body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../Fonts/Helveticaneuecyr-bold.otf");
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("../Fonts/Helveticaneuecyr-light.otf");
}
@font-face {
  font-family: "Helvetica-Roman";
  src: url("../Fonts/Helveticaneuecyr-roman.otf");
}
body {
  background-color: #e9e9e9;
}
.mask {
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  opacity: 0;
}
/*
Начало стилей для навигации
*/

.nav {
  margin: 20px auto;
  max-width: 1300px;
  height: 70px;
}
.nav-content {
  padding: 5px 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  border: 2px solid black;

  border-radius: 23px;
  box-shadow: 5px 5px 0px black;
}

.logo p {
  font-family: "Helvetica-Bold";
  font-size: 60px;
}
ul {
  margin-left: 0px;
  padding-left: 0px;
}
.nav-content li {
  float: left;
  list-style-type: none;
  font-family: "Helvetica-Roman";
  font-size: 36px;
  padding: 0px 10px;
}
a,
.logo {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}
.nav-content .logo :hover {
  color: #6637ee;
}
.nav-content .new :hover {
  color: #74e900;
}
.nav-content .discount :hover {
  color: #ff9900;
}
.nav-content .waiting :hover {
  color: #ff55da;
}

.search {
  width: 35px;
  height: 37px;
  cursor: pointer;
  right: 100px;
  margin-right: 16px;
}

#search {
  width: 35px;
  height: 37px;
  cursor: pointer;
  right: 100px;
  margin-right: 16px;
}

.input {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 0px;
  background-color: #e9e9e9;
}
.input-active {
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}

#mySearch {
  padding: 0px 10px;
  line-height: 40px;
  background: none;
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  width: auto;
  font-weight: bold;
}

.search.active {
  width: 800px;
}

#search-form {
  position: relative;
}

.search-request-active {
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  max-height: 255px;
  border: 3px solid black;
  border-top: none;
  box-sizing: border-box;
  overflow: hidden;
}

.search-request-active a {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  height: 100%;
}

.search-request-active .hover {
  font-family: "Helvetica";
  font-size: 22px;
  height: 63px;
  background-color: #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.search-request-active .hover img {
  width: 96px;
  height: 54px;
}
.search-request-active a :nth-child(2) {
  flex-basis: 70%;
}
.search-request-active a :nth-child(3) {
  text-align: right;
}
.search-request-active .hover p {
  margin-left: 5px;
}

/*
Конец стилей для навигации
*/

/*
Начало стилей для слайдера
*/
#slide {
  margin-top: 35px;
  background-color: #6637ee;
  border: 3px solid black;
  border-right: none;
  border-left: none;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slides {
  margin: 0px 50px;
  width: 1300px;
  height: 100%;
  border: 3px solid black;
}
#slide input {
  display: none;
}
.overflow {
  height: 100%;
  overflow: hidden;
}

.images {
  height: 100%;
  position: relative;
  left: 0px;
  display: flex;
  transition: 0s;
}

.images.return {
  transition: 1s;
}

.images-block {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 67% 33%;
  grid-template-areas:
    "main-game second-game-top"
    "main-game second-game-bot";
}
.images-block img {
  width: 100%;
  height: 100%;
}
.images-block div:hover {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  transition: filter 0.2s;
  -webkit-transition: filter 0.2s;
  -moz-transition: filter 0.2s;
  -ms-transition: filter 0.2s;
  -o-transition: filter 0.2s;
}

.images-block div {
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
}
.images-block div:nth-child(1) {
  border-right: none;
  border-left: none;
  border-bottom: none;
  grid-area: main-game;
  position: relative;
}
.images-block div:nth-child(2) {
  border-right: none;
  grid-area: second-game-top;
  position: relative;
}
.images-block div:nth-child(3) {
  border-top: 3px solid black;
  border-right: none;
  grid-area: second-game-bot;
  position: relative;
  height: 99%;
}
button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}
#buttonNext,
#buttonPrev {
  cursor: pointer;
  z-index: 99;
}
#buttonNext :hover,
#buttonPrev :hover {
  opacity: 0.5;
  transition: 0.2s;
}
.images-block div {
  height: 100%;
  width: 100%;
}
.price {
  position: absolute;
  right: 0;
  width: 115px;
  height: 45px;
  background-color: #ceff1a;
  border: 2px solid black;
  border-radius: 10px;
  right: 20px;
  bottom: 15px;
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 32px;
  display: grid;
  place-items: center;
}

.discount-percent {
  width: 90px;
  height: 45px;
  background-color: #e62031;
  position: absolute;
  border: 2px solid black;
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 32px;
  color: white;
  bottom: 15px;
  right: 145px;
  display: grid;
  place-items: center;
}

.games:hover .discount-percent {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

.images.shifting {
  transition: left 0.2s ease-out;
}

/*
Конец стилей для слайдера
*/

main {
  max-width: 1300px;
  min-height: 757px;
  margin: 10px auto;
}

.games-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.games {
  max-width: 235px;
  height: 355px;
  margin: 10px 10px;
  box-shadow: 5px 5px 0px black;
  border: 2px solid black;
  position: relative;
}

.info a img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-bottom: 2px solid black;
}
.info .price {
  right: 10px;
  bottom: 10px;
}

.info .discount-percent {
  left: 10px;
  bottom: 10px;
}

.games .info {
  width: 100%;
  height: 100%;
  background-color: #4adbc8;
}

.game-name {
  font-family: "Helvetica-Bold";
  font-weight: 600;
  font-size: 23px;
  padding: 0px 10px 0px 11px;
}

.games:hover {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transition: filter 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.price::before {
  content: attr(text);
}

.price:hover::before {
  content: url("../Images/Basket.svg");
  position: relative;
  cursor: pointer;
  top: 3px;
}

/* Начало стилей для футера */
footer {
  margin: 20px auto;
  max-width: 1300px;
  height: 240px;
}

.container {
  width: 100%;
  height: 100%;
}

.info-footer {
  width: 100%;
  height: 145px;
  display: flex;
  padding: 10px 0px;
  margin: 0px auto 40px auto;
  justify-content: space-around;
  background-color: white;
  border: 2px solid black;
}

footer nav {
  width: 250px;
}

footer h2 {
  text-align: center;
  font-family: "Helvetica-Bold";
  font-size: 30px;
}

footer li {
  text-align: center;
  list-style-type: none;
  font-family: "Helvetica-Roman";
  font-size: 19px;
}

footer .team {
  max-width: 400px;
}
.team h2 {
  width: 100%;
}
.team li {
  float: left;
  margin: 5px 10px;
}
.info-footer ul {
  margin-top: 10px;
}
footer nav li,
footer .links-footer li,
footer nav li a,
footer .links-footer li a {
  font-size: 24px;
  margin: 5px 0px;
  position: relative;
}

footer nav li a::after,
footer .links-footer li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
}

footer nav li a:hover::after,
footer .links-footer li a:hover::after {
  content: "";
  transform: scaleX(1);
  transform-origin: bottom left;
}

.policy::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
}

.policy {
  width: 80%;
  height: 30px;
  position: relative;
  padding-top: 20px;
  bottom: 0px;
  left: 10%;
  font-family: "Helvetica-Bold";
  display: flex;
}

.policy p {
  width: 100%;
}
.policy :nth-child(2) {
  text-align: end;
}

/* Конец стилей для футера */

/* Начало стилей для персональной страници */

.game-describe {
  margin-top: 59px;
}
.orange-square {
  width: 300px;
  height: 470px;
  background-color: #ff3f3f;
}
.game-describe-top {
  display: flex;
  flex-direction: row;
  border-top: solid 2px;
  border-bottom: solid 2px;
}
.game-decribe-bottom {
  width: 320px;
}

.game-photo {
  width: 472px;
  height: 470px;
  border-right: 2px solid black;
}
.game-photo img {
  max-width: 472px;
  height: 470px;
  object-fit: cover;
}

th {
  padding-right: 20px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
}
td {
  font-style: normal;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 21px;
}
.game-page-name {
  font-family: "Helvetica-Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
}
.button-cart {
  border-radius: 10px;
  background-color: #ceff1a;
  margin-left: 29px;
  border: 2px solid black;
  width: 210px;
  height: 50px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
}
.game-price-cart {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
}
.game-price {
  margin-left: 20px;
}
.game-type {
  margin-top: 70px;
}
.description {
  width: 470px;
  border: 2px solid black;
  border-top: none;
}
.about {
  font-family: "Helvetica-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  padding-left: 10px;
  padding-top: 21px;
}
.definition {
  font-family: "Helvetica-Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  padding-left: 16px;
  padding-right: 14px;
  padding-top: 21px;
  letter-spacing: -0.025em;
  line-height: 28px;
  word-wrap: break-word;
}

.game-describe-bottom {
  display: flex;
  flex-direction: row;
}

/*Конец стилей для персональной страници */

/*Начало стилей для корзины */
#cart {
  display: flex;

  /* margin-top: 40px; */
  font-family: "Helvetica";
  padding: 20px 20px 0px 20px;
}

.games-cart-list {
  width: 100%;
  display: flex;

  flex-direction: column;

  /* justify-content: space-between; */
}
.games-cart {
  display: flex;
  margin-bottom: 15px;
  background-color: red;
  align-items: center;
  border: 2px solid black;
  width: 100%;
  padding: 15px;
  position: relative;
  box-sizing: border-box;

  /* overflow: hidden; */
}
.games-cart p {
  color: white;
  font-size: 36px;
  margin-left: 20px;
  /* position: absolute;
  top: 0; */
}
.games-cart :nth-child(2) {
  flex-basis: 70%;
}
.games-cart :nth-child(3) {
  text-align: right;
  flex-basis: 10%;
}
.games-cart img {
  width: calc(1920px / 8);
  height: calc(1080px / 8);
}
.games-cart svg {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.games-cart svg:hover {
  fill: white;
}
.total {
  margin-left: 20px;

  height: 145px;
  background-color: white;
  flex-basis: 20%;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 5px 5px 0px black;
  position: sticky;
  top: 40px;
  text-align: center;
}

.total p {
  margin-top: 21px;
}
#totalPrice {
  font-size: 23px;
}
#buyGame {
  border: 2px solid black;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: #c8ff00;
}
/*Конец стилей для корзины */
