<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamekey</title>
    {% load static %} {% load discount_counter %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!--Начало панели навигации-->
    <nav class="nav">
      <div class="nav-content">
        <div class="logo">
          <p><a href="{% url 'game_keys:index' %}">GAMEKEY</a></p>
        </div>
        <div class="nav-list">
          <ul>
            <li class="new">
              <a href="{% url 'game_keys:new_games' %}">Новинки</a>
            </li>
            <li class="discount">
              <a href="{% url 'game_keys:discounts' %}">Знижки</a>
            </li>
            <li class="waiting">
              <a href="{% url 'game_keys:coming_soon' %}">Очікуванні</a>
            </li>
          </ul>
        </div>
        <div class="input">
          <input type="text" placeholder="Знайти гру..." id="mySearch" />
          <div class="search">
            <div>
              <img
                src="{% static '/Images/Search.svg' %}"
                alt="Search Button"
              />
            </div>
          </div>
        </div>
        <div class="logo-basket">
          <img src="{% static '/Images/Basket.svg' %}" alt="Basket Button" />
        </div>
      </div>
    </nav>
    <!--Конец панели навигации-->

    <div class="game-describe">
      <div class="game-describe-top">
        <div class="orange-square"></div>
        <div class="game-photo">
          <img src="{{ MEDIA_URL }}{{ object.image }}" alt="StrayGame" />
        </div>
        <div class="game-info">
          <div class="game-page-name" style="padding: 29px">
            <p>{{ object.name }}</p>
          </div>
          <div class="game-price-cart">
            <div>
              <button class="button-cart">До кошика</button>
            </div>

            <div class="game-price">
              <p>{{ object.price }}₴</p>
            </div>
          </div>
          <div class="game-type">
            <table
              style="
                width: 100%;
                text-align: left;
                align-items: start;
                margin-left: 29px;
              "
            >
              <tr>
                <th>Жанр</th>
                <td>{% for genre in genres %} {{ genre }}{% endfor %}</td>
              </tr>
              <tr>
                <th>Дата виходу</th>
                <td>{{ release_date }}</td>
              </tr>
              <tr>
                <th>Розробник</th>
                <td>{{ object.developer }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="game-describe-bottom">
        <div style="width: 300px; height: 450px"></div>
        <div class="description">
          <p class="about">Про цю гру</p>
          <p class="definition">{{ object.description }}</p>
        </div>
      </div>
    </div>
    <!--Начало футуера-->
    <footer>
      <div class="container">
        <div class="info-footer">
          <nav>
            <h2>Навігація</h2>
            <ul>
              <li><a href="{% url 'game_keys:new_games' %}">Новинки</a></li>
              <li><a href>Знижки</a></li>
              <li><a href>Очікуванні</a></li>
            </ul>
          </nav>

          <div class="team">
            <h2>Круті хлопці</h2>
            <ul>
              <li>Жовтоватюк Артем</li>
              <li>Журавльов Нікіта</li>
              <li>Приходько Олександр</li>
              <li>
                <a
                  href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjmh8nwv-v-AhWrDRAIHZuDAiQQwqsBegQICRAF&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdQw4w9WgXcQ&usg=AOvVaw0aHtehaphMhOCAkCydRLZU"
                  style="color: fff"
                  >Кордунер Кевін</a
                >
              </li>
              <li>Федорчук Дмитро</li>
              <li>Бокучава Олександр</li>
            </ul>
          </div>
          <div class="links-footer">
            <h2>Корисні посилання</h2>
            <ul>
              <li>
                <a
                  href="https://github.com/RofLANi4/Gamekey-Project"
                  target="_blank"
                  >GitHub</a
                >
              </li>
              <li>
                <a
                  href="https://drive.google.com/drive/folders/1yVpAAh5TZGNJV9cSZcerqVP6zl9KvYjG"
                  target="_blank"
                  >DB Files</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="policy">
          <p>&copy; GAMEKEY</p>
          <p>University project</p>
        </div>
      </div>
    </footer>
    <!--Конец футуера-->
  </body>
  <script src="js/scripts.js"></script>
</html>
