<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamekey</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="mask"><img src="../static/Images/loader.gif" alt="" /></div>
    <!--Начало панели навигации-->
    <nav class="nav">
      <div class="nav-content">
        <div class="logo">
          <p><a href>GAMEKEY</a></p>
        </div>
        <div class="nav-list">
          <ul>
            <li class="new"><a href>Новинки</a></li>
            <li class="discount"><a href>Знижки</a></li>
            <li class="waiting"><a href>Очікуванні</a></li>
          </ul>
        </div>
        <div class="input">
          <input type="text" placeholder="Знайти гру..." id="mySearch" />
          <div class="search">
            <div>
              <img src="../static/Images/Search.svg" alt="Search Button" />
            </div>
          </div>
        </div>
        <div class="logo-basket">
          <img src="../static/Images/Basket.svg" alt="Basket Button" />
        </div>
      </div>
    </nav>
    <!--Конец навикгации-->

    <!--Начало слайдера-->
    <div id="slider">
      <div>
        <button id="buttonPrev">
          <img src="../static/Images/Prev.svg" alt="" />
        </button>
      </div>
      <div class="slides">
        <div class="overflow">
          <div class="images">
            <div class="images-block">
              <div>
                <img src="../static/Images/RE4R.jpg" alt="" />
                <p class="price">
                  1000 <img src="../static/Images/UAH.svg" alt="" />
                </p>
              </div>
              <div>
                <img src="../static/Images/TLOUP1.jpg" alt="" />
                <p class="price">
                  1300 <img src="../static/Images/UAH.svg" alt="" />
                </p>
              </div>
              <div>
                <img src="../static/Images/HL.jpg" alt="" />
                <p class="price">
                  1500 <img src="../static/Images/UAH.svg" alt="" />
                </p>
              </div>
            </div>
            <div class="images-block">
              <div>
                <img src="../static/Images/ELDENRING.jpg" alt="" />
                <p class="price">
                  1500 <img src="../static/Images/UAH.svg" alt="" />
                </p>
              </div>
              <div>
                <img src="../static/Images/DEADCELLS.jpg" alt="" />
                <p class="price">
                  1500 <img src="../static/Images/UAH.svg" alt="" />
                </p>
              </div>
              <div>
                <img src="../static/Images/STRAY.jpg" alt="" />
                <p class="price">
                  1500 <img src="../static/Images/UAH.svg" alt="" />
                </p>
              </div>
            </div>
            <div class="images-block">
              <div>
                <img src="../static/Images/DEADSPACE.jpeg" alt="" />
                <p class="price">
                  1500 <img src="../static/Images/UAH.svg" alt="" />
                </p>
              </div>
              <div>
                <img src="../static/Images/GOW4.jpg" alt="" />
                <p class="price">
                  1500 <img src="../static/Images/UAH.svg" alt="" />
                </p>
              </div>
              <div>
                <img src="../static/Images/GTA5.jpg" alt="" />
                <p class="price">
                  1500 <img src="../static/Images/UAH.svg" alt="" />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button id="buttonNext">
          <img src="../static/Images/Next.svg" alt="" />
        </button>
      </div>
    </div>
    <!--Конец слайдера-->

    <!--Начало нижней панели с играми-->
    <div id="gameList">
      <div class="games-column">
        <div class="games-row">
          <div class="games">
            <div class="info">
              <img src="../static/Images/GOW4.jpg" alt="" />
              <p class="game-name">God of War</p>
              <p class="price">
                1500 <img src="../static/Images/UAH.svg" alt="" />
              </p>
            </div>
          </div>
          <div class="games">
            <div class="info">
              <img src="../static/Images/GOW4.jpg" alt="" />
              <p class="game-name">God of War</p>
            </div>

            >
            <p class="price">
              1500 <img src="../static/Images/UAH.svg" alt="" />
            </p>
          </div>
          <div class="games">
            <div class="info">
              <img src="../static/Images/GOW4.jpg" alt="" />
              <p class="game-name">God of War</p>
              <p class="price">
                1500 <img src="../static/Images/UAH.svg" alt="" />
              </p>
            </div>
          </div>
          <div class="games">
            <div class="info">
              <img src="../static/Images/GOW4.jpg" alt="" />
              <p class="game-name">God of War</p>
              <p class="price">
                1500 <img src="../static/Images/UAH.svg" alt="" />
              </p>
            </div>
          </div>
          <div class="games">
            <div class="info">
              <img src="../static/Images/GOW4.jpg" alt="" />
              <p class="game-name">God of War</p>
              <p class="price">
                1500 <img src="../static/Images/UAH.svg" alt="" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Конец нижней панели с играми-->

    <script src="../static/js/scripts.js"></script>
  </body>
</html>
