<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamekey</title>
    {% load static %} {% load discount_counter %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="mask">
      <img src="{% static '/Images/loader.gif' %}" alt="" />
    </div>
    <!--Начало панели навигации-->
    <nav class="nav">
      <div class="nav-content">
        <div class="logo">
          <p><a href="{% url 'game_keys:index' %}">GAMEKEY</a></p>
        </div>
        <div class="nav-list">
          <ul>
            <li class="new">
              <a href="{% url 'game_keys:new_games' %}">Новинки</a>
            </li>
            <li class="discount">
              <a href="{% url 'game_keys:discounts' %}">Знижки</a>
            </li>
            <li class="waiting">
              <a href="{% url 'game_keys:coming_soon' %}">Очікуванні</a>
            </li>
          </ul>
        </div>
        <form id="search-form" action="{% url 'game_keys:game_list' %}" method="get">
          <div class="input">
            <input autocomplete="off" type="text" placeholder="Знайти гру..." id="mySearch" name="q" />
            <button type="submit" id="search">
              <img src="{% static '/Images/Search.svg' %}" alt="Search Button" id="input_img" />
            </button>
          </div>
          <div class="search-request">
            <div class="hover"><p></p></div>
          </div>
        </form>
        <div class="logo-profile">
          <a href="{% url 'game_keys:profile' %}">
            <svg
              width="60"
              height="60"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.2"
              viewBox="0 0 21 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z"></path>
              <path d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
              <path d="M6.168 18.849A4 4 0 0 1 10 16h4a4 4 0 0 1 3.834 2.855"></path>
            </svg>
          </a>
        </div>
        <div class="logo-cart">
          <a href="{% url 'game_keys:shop_cart' %}">
            <p id="game_quantity">{% if shop_cart %}{{ shop_cart }}{% else %}0{% endif %}</p>
          </a>
        </div>
      </div>
    </nav>
    <!--Конец панели навигации-->
    <main>
      <div class="keys-list"></div>
    </main>
    <!--Начало футуера-->
    <footer>
      <div class="container">
        <div class="info-footer">
          <nav>
            <h2>Навігація</h2>
            <ul>
              <li><a href="{% url 'game_keys:new_games' %}">Новинки</a></li>
              <li><a href="{% url 'game_keys:discounts' %}">Знижки</a></li>
              <li>
                <a href="{% url 'game_keys:coming_soon' %}">Очікуванні</a>
              </li>
            </ul>
          </nav>

          <div class="team">
            <h2>Круті хлопці</h2>
            <ul>
              <li>Жовтоватюк Артем</li>
              <li>Журавльов Нікіта</li>
              <li>Приходько Олександр</li>
              <li>Кордунер Кевін</li>
              <li>Федорчук Дмитро</li>
              <li>Бокучава Олександр</li>
            </ul>
          </div>
          <div class="links-footer">
            <h2>Корисні посилання</h2>
            <ul>
              <li>
                <a href="https://github.com/RofLANi4/Gamekey-Project" target="_blank">GitHub</a>
              </li>
              <li>
                <a
                  href="https://drive.google.com/drive/folders/1yVpAAh5TZGNJV9cSZcerqVP6zl9KvYjG"
                  target="_blank"
                >
                  DB Files
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="policy">
          <p>&copy; GAMEKEY</p>
          <p>University project</p>
        </div>
      </div>
    </footer>
    <!--Конец футуера-->
    <script src="{% static 'js/content.js ' %}"></script>
    <script src="{% static 'js/addGamesToProfile.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
  </body>
</html>
