<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamekey</title>
    {% load static %} {% load discount_counter %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!--Начало панели навигации-->
    <nav class="nav">
      <div class="nav-content">
        <div class="logo">
          <p><a href="{% url 'game_keys:index' %}">GAMEKEY</a></p>
        </div>
        <div class="nav-list">
          <ul>
            <li class="new">
              <a href="{% url 'game_keys:new_games' %}">Новинки</a>
            </li>
            <li class="discount">
              <a href="{% url 'game_keys:discounts' %}">Знижки</a>
            </li>
            <li class="waiting">
              <a
                style="color: #ff55da"
                href="{% url 'game_keys:coming_soon' %}"
              >
                Очікуванні
              </a>
            </li>
          </ul>
        </div>
        <form
          id="search-form"
          action="{% url 'game_keys:game_list' %}"
          method="get"
        >
          <div class="input">
            <input
              autocomplete="off"
              type="text"
              placeholder="Знайти гру..."
              id="mySearch"
              name="q"
            />
            <button type="submit" id="search">
              <img
                src="{% static '/Images/Search.svg' %}"
                alt="Search Button"
                id="input_img"
              />
            </button>
            <!-- <div class="search">
              <div id="input_container">
              </div>
            </div> -->
          </div>
          <div class="search-request"></div>
        </form>
        <div class="logo-basket">
          <a href="{% url 'game_keys:shop_cart' %}">
          <a href="{% url 'game_keys:shop_cart' %}">
            <img src="{% static '/Images/Basket.svg' %}" alt="Basket Button" />
            <b id="game_quantity">{% if quantities_sum %}{{ quantities_sum }}{% endif %}</b>
          </a>
          </a>
        </div>
      </div>
    </nav>
    <!--Конец панели навигации-->

    {% if shop_cart %}
    <div id="gameList">
      <div class="games-column">
        <div class="games-row">
          {% for game in games %}
          <div class="games">
            <div class="info">
              <a href="{% url 'game_keys:game_page' pk=game.0.id %}"
                ><img src="{{ MEDIA_URL }}{{ game.0.image }}" alt=""
              /></a>

              <p class="game-name">{{ game.0.name }} <b style="color: white"> x{{ game.1 }}</b></p>
              {% if game.0.discount %}
              <p class="discount-percent">-{{ game.0.discount }}%</p>
              {% endif %}
              <p
                class="price"
                text="{{ game.0.price|discount:game.0.discount }}₴"
              ></p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    <!--Начало футуера-->
    <footer>
      <div class="container">
        <div class="info-footer">
          <nav>
            <h2>Навігація</h2>
            <ul>
              <li><a href="{% url 'game_keys:new_games' %}">Новинки</a></li>
              <li><a href>Знижки</a></li>
              <li><a href>Очікуванні</a></li>
            </ul>
          </nav>

          <div class="team">
            <h2>Круті хлопці</h2>
            <ul>
              <li>Жовтоватюк Артем</li>
              <li>Журавльов Нікіта</li>
              <li>Приходько Олександр</li>
              <li>Кордунер Кевін</li>
              <li>Федорчук Дмитро</li>
              <li>Бокучава Олександр</li>
            </ul>
          </div>
          <div class="links-footer">
            <h2>Корисні посилання</h2>
            <ul>
              <li>
                <a
                  href="https://github.com/RofLANi4/Gamekey-Project"
                  target="_blank"
                  >GitHub</a
                >
              </li>
              <li>
                <a
                  href="https://drive.google.com/drive/folders/1yVpAAh5TZGNJV9cSZcerqVP6zl9KvYjG"
                  target="_blank"
                  >DB Files</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="policy">
          <p>&copy; GAMEKEY</p>
          <p>University project</p>
        </div>
      </div>
    </footer>
    <!--Конец футуера-->
    <script src="{% static 'js/content.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
  </body>
</html>
