<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamekey</title>
    {% load static %} {% load discount_counter %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="mask">
      <img src="{% static '/Images/loader.gif' %}" alt="" />
    </div>
    <!--Начало панели навигации-->
    <nav class="nav">
      <div class="nav-content">
        <div class="logo">
          <p><a href="{% url 'game_keys:index' %}">GAMEKEY</a></p>
        </div>
        <div class="nav-list">
          <ul>
            <li class="new">
              <a href="{% url 'game_keys:new_games' %}">Новинки</a>
            </li>
            <li class="discount">
              <a href="{% url 'game_keys:discounts' %}">Знижки</a>
            </li>
            <li class="waiting">
              <a href="{% url 'game_keys:coming_soon' %}">Очікуванні</a>
            </li>
          </ul>
        </div>
        <form id="search-form" action="{% url 'game_keys:game_list' %}" method="get">
          <div class="input">
            <input autocomplete="off" type="text" placeholder="Знайти гру..." id="mySearch" name="q" />
            <button type="submit" id="search">
              <img src="{% static '/Images/Search.svg' %}" alt="Search Button" id="input_img" />
            </button>
          </div>
          <div class="search-request"></div>
        </form>
        <div class="logo-profile">
          <a href="{% url 'game_keys:profile' %}">
            <svg
              width="60"
              height="60"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.2"
              viewBox="0 0 21 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z"></path>
              <path d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
              <path d="M6.168 18.849A4 4 0 0 1 10 16h4a4 4 0 0 1 3.834 2.855"></path>
            </svg>
          </a>
        </div>
        <div class="logo-cart">
          <a href="{% url 'game_keys:shop_cart' %}">
            <p id="gameInCartQuantity">{% if quantities_sum %}{{ quantities_sum }}{% else %}0{% endif %}</p>
          </a>
        </div>
      </div>
    </nav>
    <!--Конец панели навигации-->

    <main>
      {% if shop_cart %}
      <div id="cart">
        <div class="games-cart-list">
          {% for game in games %}
          <div class="games-cart" game-id="{{game.0.id}}">
            <a href="{% url 'game_keys:game_page' pk=game.0.id %}">
              <img src="{{ MEDIA_URL }}{{ game.0.image }}" alt="" />
            </a>
            <p>
              {{ game.0.name }}
              <b class="quantity">x{{ game.1 }}</b>
            </p>
            <p class="cart-game-price">{{ game.0.price|discount:game.0.discount }}₴</p>
            <svg
              class="remove-game"
              width="32px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 50 50"
              enable-background="new 0 0 50 50"
            >
              <path d="M37.304 11.282l1.414 1.414-26.022 26.02-1.414-1.413z" />
              <path d="M12.696 11.282l26.022 26.02-1.414 1.415-26.022-26.02z" />
            </svg>
          </div>
          {% endfor %}
        </div>
        <div id="total">
          <h2>Разом</h2>
          <p>
            До сплати:
            <span id="totalPrice">{{ cart_price }}₴</span>
          </p>
          <p id="buyGame">Оформити замовлення</p>
        </div>
      </div>
      {% else %}
      <div id="cartIsEmpty">
        <h1>Кошик порожній</h1>
      </div>
      {% endif %}
    </main>

    <!--Начало футуера-->
    <footer>
      <div class="container">
        <div class="info-footer">
          <nav>
            <h2>Навігація</h2>
            <ul>
              <li><a href="{% url 'game_keys:new_games' %}">Новинки</a></li>
              <li><a href="{% url 'game_keys:discounts' %}">Знижки</a></li>
              <li>
                <a href="{% url 'game_keys:coming_soon' %}">Очікуванні</a>
              </li>
            </ul>
          </nav>

          <div class="team">
            <h2>Круті хлопці</h2>
            <ul>
              <li>Жовтоватюк Артем</li>
              <li>Журавльов Нікіта</li>
              <li>Приходько Олександр</li>
              <li>Кордунер Кевін</li>
              <li>Федорчук Дмитро</li>
              <li>Бокучава Олександр</li>
            </ul>
          </div>
          <div class="links-footer">
            <h2>Корисні посилання</h2>
            <ul>
              <li>
                <a href="https://github.com/RofLANi4/Gamekey-Project" target="_blank">GitHub</a>
              </li>
              <li>
                <a
                  href="https://drive.google.com/drive/folders/1yVpAAh5TZGNJV9cSZcerqVP6zl9KvYjG"
                  target="_blank"
                >
                  DB Files
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="policy">
          <p>&copy; GAMEKEY</p>
          <p>University project</p>
        </div>
      </div>
    </footer>
    <!--Конец футуера-->
    <div class="modal" style="display: none">
      <div class="modal-window">
        <h2>Оформлюємо покупку</h2>
        <img src="{% static '/Images/Dowload White.gif' %}" alt="" />
      </div>
      <div class="overlay"></div>
    </div>
    <script src="{% static 'js/content.js' %}"></script>
    <script src="{% static 'js/removeFromCart.js' %}"></script>
    <script src="{% static 'js/buyGame.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
  </body>
</html>
