body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../Fonts/Helveticaneuecyr-bold.otf");
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("../Fonts/Helveticaneuecyr-light.otf");
}
@font-face {
  font-family: "Helvetica-Roman";
  src: url("../Fonts/Helveticaneuecyr-roman.otf");
}
body {
  background-color: #e9e9e9;
}
.mask {
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  opacity: 0;
}
/*
Начало стилей для навигации
*/
.nav-content {
  padding: 5px 10px;
  margin: 20px auto;
  width: 1300px;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  border: 2px solid black;
  border-radius: 23px;
  box-shadow: 5px 5px 0px black;
}

.nav-content p {
  font-family: "Helvetica-Bold";
  font-size: 60px;
}
.nav-list ul {
  margin-left: 0px;
  padding-left: 0px;
}
.nav-content li {
  float: left;
  list-style-type: none;
  font-family: "Helvetica-Roman";
  font-size: 36px;
  padding: 0px 10px;
}
a,
.logo {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}
.nav-content .logo :hover {
  color: #6637ee;
}
.nav-content .new :hover {
  color: #74e900;
}
.nav-content .discount :hover {
  color: #ff9900;
}
.nav-content .waiting :hover {
  color: #ff55da;
}

.search {
  width: 35px;
  height: 37px;
  cursor: pointer;
  right: 100px;
  padding-right: 10px;
}
.input {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 0px;
  background-color: #e9e9e9;
}

#mySearch {
  padding: 0px 10px;
  line-height: 40px;
  background: none;
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  width: auto;
  font-weight: bold;
}

.search.active {
  width: 800px;
}
/*
Конец стилей для навигации
*/

/*
Начало стилей для слайдера
*/
#slide {
  margin-top: 35px;
  background-color: #6637ee;
  border: 3px solid black;
  border-right: none;
  border-left: none;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slides {
  margin: 0px 50px;
  width: 1300px;
  height: 100%;
  border-left: 3px solid black;
  border-right: 3px solid black;
}
#slide input {
  display: none;
}
.overflow {
  height: 100%;
  overflow: hidden;
}

.images {
  height: 100%;
  position: relative;
  left: 0px;
  display: flex;
  transition: 0s;
}

.images.return {
  transition: 1s;
}

.images-block {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 67% 33%;
  grid-template-areas:
    "main-game second-game-top"
    "main-game second-game-bot";
}
.images-block img {
  width: 100%;
  height: 100%;
}
.images-block div {
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
}
.images-block div:nth-child(1) {
  border-right: none;
  border-left: none;
  border-bottom: none;
  grid-area: main-game;
  position: relative;
}
.images-block div:nth-child(2) {
  border-right: none;
  grid-area: second-game-top;
  position: relative;
}
.images-block div:nth-child(3) {
  border-top: 3px solid black;
  border-right: none;
  grid-area: second-game-bot;
  position: relative;
  height: 99%;
}
button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}
#buttonNext,
#buttonPrev {
  cursor: pointer;
  z-index: 99;
}
#buttonNext :hover,
#buttonPrev :hover {
  opacity: 0.5;
  transition: 0.2s;
}
.images-block div {
  height: 100%;
  width: 100%;
}
.price {
  position: absolute;
  right: 0;
  width: 115px;
  height: 45px;
  background-color: #ceff1a;
  border: 2px solid black;
  border-radius: 10px;
  right: 20px;
  bottom: 15px;
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images.shifting {
  transition: left 0.2s ease-out;
}

/*
Конец стилей для слайдера
*/

#gameList {
  margin: 10px 0px;
}

.games-column {
  display: flex;
  flex-direction: column;
}

.games-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 500px;
  align-items: center;
}
.games {
  width: 240px;
  height: 360px;
  margin: 10px 10px;
  box-shadow: 5px 5px 0px black;
  border: 2px solid black;
  position: relative;
}

.info > img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-bottom: 2px solid black;
}
.info .price {
  right: 10px;
  bottom: 10px;
}
.games .info {
  width: 100%;
  height: 100%;
  background-color: #4adbc8;
}
.game-name {
  font-family: "Helvetica-Bold";
  font-weight: 600;
  font-size: 24px;
  margin-left: 10px;
}
.games :hover {
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
}
.info :hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.price::before {
  content: attr(text);
}

.price:hover::before {
  content: url("../Images/Basket.svg");
  position: relative;
  top: 4px;
}

#footer {
  width: 200px;
  height: 200px;
  background-color: #6637ee;
}
